APP_ENV=production
APP_PORT=8080
TZ=Asia/Jakarta

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306

DB_NAME=presensi_lab
DB_USER=presensi_user
DB_PASSWORD=CHANGE_ME_APP_PASSWORD
DB_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
